.main-chat
  .main-chat__header
    .main-chat__header--left
      test
      .main-chat__header--left--item
        Member:masa
    .main-chat__header--right
      %a{href: "#"}
        Edit

  .main-chat__message
    = render @messages

  .main-chat__footer
    = form_for [@group, @message] do |f|
      %form.new_message
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: "input-box__image" do
            = icon("fas", "image", class: "icon")
            = f.file_field :image, class: "input-box__image__file"
        = f.submit "Send", class: "submit-btn"