.side-bar
  .side-bar__header
    .top-items
      %ul.top-items__list
        %li.top-items__name
          = current_user.name
        %li.top-items__icon
          = link_to "#" do
            = icon("far", "edit", class: "edit-icon")
          = link_to edit_user_path(current_user) do
            = icon("fas", "cog", class: "cog-icon")
  
  .side-bar__bottom
    .bottom-items
      %p.bottom-items__group
        techcamp1
      %p.bottom-items__message
        まだメッセージがありません
      %p.bottom-items__group
        techcamp2
      %p.bottom-items__message
        まだメッセージがありません
      %p.bottom-items__group
        techcamp3
      %p.bottom-items__message
        まだメッセージがありません



  